/*RESET
________________________________________________________*/

*, *:before,  *:after{margin: 0; padding: 0; box-sizing: border-box; -webkit-box-sizing: border-box;}

body{font-family: 'Open Sans', sans-serif; font-size:  inherit;}

input, select, iframe, button{border: none; font-family: 'Open Sans', sans-serif;}

h1, h2, h3{margin: 0; padding: 0;}

ol, ul{list-style: none;}

a{text-decoration: none; color: inherit; transition: all .4s ease-in-out;}

a:hover{color: #08aed8;}

img{max-width: 100%; border: none;}

/*GERAIS
_________________________________________________________*/

.section{    
    width: 100%;
    background-image: url(../resource/background_topo_01.jpg);    
    background-repeat: no-repeat;
}
.section-2{
    width: 100%;
    height: 789px;
    background-image: url(../resource/box1_03.png);    
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.section-3{
    width: 100%;
    height: 789px;
    background-image: url(../resource/box-2-cell_03_03.png);    
    background-size: contain;
    background-position: 350px;
    background-repeat: no-repeat;
}
.section-4{
    width: 100%;
    height: 789px;
    background-image: url(../resource/box-3_07.png);    
    background-size: contain;
    background-position: right;
    background-repeat: no-repeat;
}
.section-5{
    width: 100%;
    height: 460px;
}
.section-6{
    width: 100%;
    height: 789px;
    background-image: url(../resource/tablet_10.png);    
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.section-7 {
    width: 100%;
    height: 465px;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.section-7 .img{
    width: 100%;
    height: 465px;
    background-image: url(../resource/conheca_14.png);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
.content {
    max-width: 960px;
    width: 100%;
    margin: 0 auto;
}
.img_2{    
    width: 87%;
    height: 290px;
    margin-top: -79px;
    background-image: url(../resource/footer-2.jpg);
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}


/*NAV-BAR
_________________________________________________________*/
.nav-bar{
    width: 100%;
    display: table;
    background: #fff;
  
}
.nav-bar img{
    margin: 10px;
    margin-left: 50px;
}
.botao1 button{
    float: right;
    background: #4c83e2;
    font-size: 11px;
    color: #fff;
    padding: 13px 13px;
    cursor: pointer;
    margin-top: 9px;
    margin: 15px;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
}
.botao1 button:hover{
    background: #08aed8;
}


/*HEADER
_________________________________________________________*/


.section .text-top{
    color: #fff;
    text-align: center;    
    font-size: 16px; 
    margin: 20px;       
}
.topo1-box{    
    padding: 150px;
    background-image: url(../resource/topo-1-1_07.jpg);    
    background-size: cover;
    background-position: center;
}
.topo1-box h2{
    font-size: 40px;
    color: #3563b3;
    margin-left: 30px;

}
.topo1-box p{
    color: #494949;
    text-align: left;
    margin-left: 35px;
    margin-top: 25px;
    font-weight: bold;
}

.topo2-box{    
    padding: 150px;
    background-image: url(../resource/topo-2-2_04_03.png);  
    background-position: center;
    background-repeat: no-repeat;
}


/*TOOGLE
_________________________________________________________*/

.nav-toggle{
    color: #4c83e2;
    font-size: 22px; 
    margin-right: 50px;
    margin-top: 17px;   
}
.nav-close{
    font-size: 22px;
}
.nav-bar .nav.active{
    right: 0;
}
.nav-bar .nav{
    background: #74c4d9;
    width: 250px;
    position: fixed;
    padding: 15px;
    right: -250px;
    top: 0;
    z-index: 10;
    transition: right .7s ease-in-out;
}
.nav-bar .nav ul li{
    padding: 15px 5px;
    font-size: 20px;
    border-bottom: 1px solid #ccc;
}

/*BOX-1
_________________________________________________________*/
.box-1{
    padding-top: 140px;
    margin: 100px auto 0;
    width: 1024px;
}
.section-2 .text-box1 h2{    
    color: #3563b3;
    text-align: left;   
    font-weight: bold;    
    font-size: 30px; 
}
.section-2 .text-box1 p{
    color: #494949;   
    margin-top: 15px;
    font-weight: bold;
}
.botao2 button{
    background: #4c83e2;
    font-size: 11px;
    color: #fff;
    padding: 13px 45px;
    cursor: pointer;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-top: 33px;
}
.botao2 button:hover{
    background: #08aed8;
}

/*BOX-2
_________________________________________________________*/
.box-2{
    padding-top: 140px;
    margin: 100px auto 0;
    width: 1024px;
}
.text-box2{
    width: 500px;
    float: right;
    text-align: left;
}
.section-3 .text-box2 h2{    
    color: #3563b3;       
    font-weight: bold;    
    font-size: 30px; 
}
.section-3 .text-box2 p{
    color: #494949;        
    margin-top: 15px;
    font-weight: bold;
}


/*BOX-3
_________________________________________________________*/
.box-3{
    padding-top: 140px;
    margin: 100px auto 0;
    width: 1024px;
}
.section-4 .text-box3 h2{    
    color: #3563b3;
    text-align: left;   
    font-weight: bold;    
    font-size: 30px; 
}
.section-4 .text-box3 p{
    color: #494949;   
    margin-top: 15px;
    font-weight: bold;
}
.botao3 button{
    background: #4c83e2;
    font-size: 11px;
    color: #fff;
    padding: 13px 45px;
    cursor: pointer;
    -webkit-border-radius: 25px;
    border-radius: 25px;
    -webkit-transition: all .4s ease-in-out;
    transition: all .4s ease-in-out;
    margin-top: 33px;
}
.botao3 button:hover{
    background: #08aed8;
}


/*BOX-4
_________________________________________________________*/

.box-4{
    padding-top: 50px;
    margin: 100px auto 0;
    width: 1024px;
}
.section-5 .text-box4 h2{    
    color: #3563b3;
    text-align: center;   
    font-weight: bold;    
    font-size: 30px; 
}
.section-5 .text-box4 p{
    color: #494949;   
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
}

/*BOX-6
_________________________________________________________*/

.box-6{
    padding-top: 50px;
    margin: 100px auto 0;
    width: 1024px;
}
.section-7 .text-box6 h2{    
    color: #3563b3;
    text-align: center;   
    font-weight: bold;    
    font-size: 30px; 
}
.section-7 .text-box6 p{
    color: #494949;   
    margin-top: 15px;
    font-weight: bold;
    text-align: center;
    font-size: 10px;
}

/*BREAKPOINT MÁXIMO
_________________________________________________________*/

@media(max-width: 567px){
     .botao1 button{
        display: none;
     }     
}

@media(max-width: 950px){
    .topo1-box{
        padding: 15px;
        height: 350px;
    }
    .topo1-box h2{
        margin-top: 1px;
        font-size: 25px;
        color: #3563b3;   
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;    
    }
    .topo1-box h2:hover{
        margin-top: 1px;
        font-size: 25px;
        color: #3563b3;   
    }
    .topo1-box p{
        color: #494949;
        text-align: left;
        margin-top: 20px;
        font-weight: bold;
        font-size: 11px; 
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;         
    }
    .topo1-box p:hover{
        color: #494949;
        text-align: left;
        margin-top: 20px;
        font-weight: bold;
        font-size: 11px; 
    }
    .section .text-top{
        color: #fff;
        text-align: center;    
        font-size: 14px; 
            
    }
    body{
        height: 100px;
    }

    /*BOX-1*/ 

    .box-1{
        padding: 78px;
        height: 350px;
        padding-top: 10px;
        margin: 100px auto 0;
        width: 1024px;
    }
    .section-2 .text-box1 h2{    
        color: #3563b3;
        text-align: left;   
        font-weight: bold;    
        font-size: 25px; 
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;    
    }
    .section-2 .text-box1 h2:hover{
        color: #3563b3;
        text-align: left;   
        font-weight: bold;    
        font-size: 25px; 
    }
    .section-2 .text-box1 p{
        color: #494949;   
        margin-top: 15px;
        font-weight: bold;
        font-size: 11px;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;  
    }
    .section-2 .text-box1 p:hover{
        color: #494949;   
        margin-top: 15px;
        font-weight: bold;
        font-size: 11px;s
    }
    .botao2 button{
        background: #4c83e2;
        font-size: 11px;
        color: #fff;
        padding: 13px 45px;
        cursor: pointer;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        margin-top: 20px;
    }

    /*BOX-2*/

    .box-2{
        padding: 0px;
        height: 350px;
        padding-top: 0px;
        margin: 0px;
        width: 100%;
    }
    .section-3{
        width: 100%;
        height: 1000px;
        background-size: 80%;
        background-position: bottom;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
    }
    .section-3:hover{
        background-position: left;
    }
    .section-3 .text-box2 h2{    
        color: #3563b3;
        text-align: left;   
        font-weight: bold;    
        font-size: 25px; 
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;    
    }
    .section-3 .text-box2 h2:hover{
        color: #3563b3;
        text-align: left;   
        font-weight: bold;    
        font-size: 25px; 
    }
    .section-3 .text-box2 p{
        color: #494949;   
        margin-top: 15px;
        font-weight: bold;
        font-size: 11px;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;  
    }
    .section-3 .text-box2 p:hover{
        color: #494949;   
        margin-top: 15px;
        font-weight: bold;
        font-size: 11px;s
    }
    
    .section-3 .text-box2{
        width: 100%;
    }

    /*BOX-3*/ 

    .box-3{
        padding: 78px;
        height: 350px;
        padding-top: 10px;
        margin: 100px auto 0;
        width: 1024px;
    }
    .section-4 .text-box3 h2{    
        color: #3563b3;
        text-align: left;   
        font-weight: bold;    
        font-size: 25px; 
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;    
    }
    .section-4 .text-box3 h2:hover{
        color: #3563b3;
        text-align: left;   
        font-weight: bold;    
        font-size: 25px; 
    }
    .section-4 .text-box3 p{
        color: #494949;   
        margin-top: 15px;
        font-weight: bold;
        font-size: 11px;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;  
    }
    .section-4 .text-box3 p:hover{
        color: #494949;   
        margin-top: 15px;
        font-weight: bold;
        font-size: 11px;s
    }
    .botao3 button{
        background: #4c83e2;
        font-size: 11px;
        color: #fff;
        padding: 13px 45px;
        cursor: pointer;
        -webkit-border-radius: 25px;
        border-radius: 25px;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;
        margin-top: 20px;
    }

    /*BOX-4*/ 

    .box-4{
        padding: 78px;
        height: 350px;
        padding-top: 10px;
        margin: 100px auto 0;
        width: 1024px;
    }
    .section-5{ 
        height: 100px;        
        width: 162px;
    }
    .section-5 .text-box4 h2{    
        color: #3563b3;
        text-align: left;   
        font-weight: bold;    
        font-size: 25px; 
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;    
    }
    .section-5 .text-box4 h2:hover{
        color: #3563b3;
        text-align: left;   
        font-weight: bold;    
        font-size: 25px; 
    }
    .section-5 .text-box4 p{
        color: #494949;   
        margin-top: 15px;
        font-weight: bold;
        font-size: 11px;
        text-align: left;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;  
    }
    .section-5 .text-box4 p:hover{
        color: #494949;   
        margin-top: 15px;
        font-weight: bold;
        font-size: 11px;s
    }

    /*BOX-6*/

    .box-6{
        padding: 78px;
        height: 350px;
        padding-top: 10px;
        margin: 100px auto 0;
        width: 1024px;
    }
    .section-7{ 
        height: 100px;        
        width: 162px;
    }
    .section-7 .text-box6 h2{    
        color: #3563b3;
        text-align: left;   
        font-weight: bold;    
        font-size: 25px; 
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;    
    }
    .section-7 .text-box6 h2:hover{
        color: #3563b3;
        text-align: center;   
        font-weight: bold;    
        font-size: 25px; 
    }
    .section-7 .text-box6 p{
        color: #494949;   
        margin-top: 15px;
        font-weight: bold;
        font-size: 11px;
        text-align: left;
        -webkit-transition: all .4s ease-in-out;
        transition: all .4s ease-in-out;  
    }
    .section-7 .text-box6 p:hover{
        color: #494949;   
        margin-top: 15px;
        font-weight: bold;
        font-size: 11px;s
    }

    .section-7 .img{
        width: 100%;
        height: 200px;
        background-image: url(../resource/conheca_14.png);
        background-size: contain;
        background-position: center;
        background-repeat: no-repeat;
    }
}

/*PADRÕES
_________________________________________________________*/

/*text-align*/
.text-center{text-align: center;}
.text-left{text-align: left;}
.text-right{text-align: right;}

/*float*/
.fl-left{float: left;}
.fl-right{float: right}